
#about-section { 
    overflow: hidden;
    /* align-items: center; */
    background: linear-gradient(40deg, rgb(50, 33, 33), rgb(75, 40, 33), black);
  }
  .abouthead {
    padding-top:5rem;
    color: rgb(56, 150, 157);
    font-weight: bold; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .img6{
    width:400px;
    animation:1s 3s chan infinite;
    box-shadow:-1px -2px 30px rgb(50, 54, 26);
  }
  .img1, .img2, .img3, .img4, .img5, .img6 {
    height: 300px;
    border-radius: 10px;
  }
  .img3 {
    width: 400px;  
  }
  .about {
    width: 100%;
  }
  
  @media only screen and (max-width:626px) {
    .img1, .img2, .img3, .img4, .img5, .img6 {
        padding:10px;
        height:200px;
        width:100%;
    }  
  }
  @media only screen and ( max-width:1024px) {
    .img1, .img2, .img3, .img4, .img5, .img6 {
      /* padding-left: 4rem; */
      /* height:200px; */
      padding:5px;
      width:100%;
    } 
  .img1, .img2, .img3, .img4, .img5, .img6 {
       
}
  }
  /* .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
  }
  */
  .modal-dialog {
    position: absolute;
    top: 30%;
    left: 0;
    transform: translate(-50%, -50%);
    max-width: 90%;
    height:10vh;
  }
  .modal-content {
    background-color: rgb(181, 20, 20);
    /* padding: 20px; */
    border-radius: 8px;
  }
  
  /* .modal-body img {
    width: 100%;
    height: auto;
  } */
    .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
  }
  