/* service */
.service{
    /* background-image:url('coffee/img/coffee9.jpeg'); */
    background-image:url('img/coffee9.jpeg');
    height:100vh;
    background-size:cover;
    align-items: center;
    background-repeat:no-repeat;
    width: 100%;
    z-index:0;
   }
  .servicehead{
    padding:7rem;
    font-size:40px;
    font-style:italic;
  color:rgb(236, 212, 79);
  text-align: center;
  animation: 4s 4s change infinite;
  }
  .serpara{
    font-size:15px;
   font-style: italic;
    color: #cbcbcb;
  }
  @keyframes change{
    0%{
      font-size:15px;
      /* background-image: url('coffee/img/cofee2.jpg'); */
      background-image: url('img/cofee2.jpg');
      height: 100vh;
    }
    25%{
      font-size:20px;
    }
    50%{
      font-size: 25px;
    }
    75%{
      font-size: 25px;
    }
    100%{
      font-size: 30px;
    }
  }

   .service1{
    padding:10px;
    text-align: center;
    
  }
  .service2{
    padding: 10px;
    height: 37vh;
    text-align: center;
  }
  .service3{
    padding: 10px;
    height: 37vh;
    text-align: center;
  }
  .service4{
    height:42vh;
    text-align: center;
  }
.service5{
  padding:13px;
  height: 43vh;
  text-align: center;
}
.service6{
  padding:5px;
  height: 42vh;
  text-align: center;
 }
@media only screen and ( max-width:868px) {
.servicehead{
    padding:3rem;
    margin-top: 30px;
    height:100vh;
    width:100%;
    animation: 4s 4s change infinite;
}
  .service1{
    margin: 1px;
  }
  .service2{
    margin-bottom: 10px;
    margin-top:20px;
    height: 50vh;
  }
  .service3{
    margin-top:20px;
    height: 50vh;

  }
  .service4{
    margin-top:30px;
    height: 65vh;
  }
  .service5{
    height: 65vh;
  }
.service6{
    margin-top:30px;
    height: 80vh;
  } 

}

