/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  /* background: linear-gradient(rgb(49, 76, 89),rgb(107, 107, 81),rgb(95, 135, 137)); */
  font-style:italic;
}

.log {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 17px;
  justify-content:space-around;
  flex-grow: 1;
}
.nav-links{
  padding-left:35rem;
}
nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: yellow;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.toggle-button .bar {
  width: 30px;
  height: 3px;
  background-color: white;
}
@media (max-width: 1024px) { 
   nav ul {
    display: none;

  }
  .toggle-button {
    display: flex;
  }
  .offcanvas {
    display: block;
  }
}

.Offcanvas{
  height: 20%;
  width:100%;
}
.offcanvas-body ul {
  list-style-type: none;
  padding: 0;

}

.offcanvas-body ul li {
  padding: 5px 0;
}

.offcanvas-body ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.offcanvas-body ul li a:hover {
  background-color: #555; 
  color: #ffcc00; 
}
.offcanvas-header .btn-close {
  background-color: #fff; 
}
@media (max-width: 1024px) {
  .offcanvas-body {
    padding: 2rem; 
  }
  .offcanvas-body ul li a {
    font-size: 20px; 
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #fff; 
  width: 100%;
  bottom: 0;
  left: 0;
}
.footer p {
  margin: 5px 0 0;
  font-size: 14px;
  opacity: 0.7;
}
